@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Register */

    body {
        font-family: "Roboto Slab", Arial, sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    .input {
        @apply border-2 rounded-xl w-80 h-14 pl-5 text-sm border-white focus:outline-none focus:border-customInputBorderPurple bg-customGray;
        transition: 0.1s ease;
    }

    .input:focus + .label, .has-content {
        @apply text-sm text-customIconColor w-24 !important;
        transform: translate(0px, -16px) scale(0.88);
        z-index: 1111;
    }

    .labelText {
        @apply ml-2;
    }

    .label {
        @apply absolute left-2 top-5 text-label text-gray-400 transition-all duration-300 flex;
        transition: 0.2s ease;
        margin-left: 5px;
    }

    .input[type= 'email']:focus + .label {
        @apply w-16;
    }

    .custom-checkbox {
        @apply border border-customInputBorderPurple relative top-0.5;
    }

    .custom-checkbox:checked {
        @apply bg-customInputBorderPurple;
    }

    .dropdown-content {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .dropdown-content::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
    }
}